@import url(http://fonts.googleapis.com/css?family=Merienda:400,700);

/* Foundation */

html {
	font-size: 62.5%;
}

body {
	margin: auto;
	max-width: 640px;
	text-align: center;
	background-image: url("../img/bg-mat.png");
	font-size: 1.6rem;
	font-family: 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	color: #036;
}

/* Layout */
.l-header {
	margin-bottom: 20px;
	padding: 10px;
}

.l-content {
	margin: 10px;
	padding: 20px;
	background-color: #FFF;
	background-image: url("../img/bg-paper.png");
}
/* Module */

.appname {
	font-size: 3rem;
	font-family: 'Merienda', cursive;
	color: #FFF;
	text-decoration: none;
}

.title {
	margin-top: 0;
	margin-bottom: 10px;
}
.title a {
	color: inherit;
}

.nav {
	list-style: none;
	text-align: right;
}
.nav > li {
	display: inline-block;
	margin-left: 0.5em;
}
.nav a {
	padding: 5px;
	color: inherit;
	text-decoration: none;
}

.sheet {
	border: 1px solid #036;
	width: 100%;
	table-layout: fixed;
	font-size: 1.4rem;
}
.sheet td,
.sheet th {
  border: 1px solid #036;
  padding: 0.5em;
  vertical-align: middle;
  text-align: center;
}
.sheet-date {
	white-space: nowrap;
}

textarea {
  width: 200px;
  height: 80px;
}
