extends ../layout

block content
  a(href="/groups/#{group.token}") #{group.title}
  span  - 結果登録

  form(method="post", action="/groups/#{group.token}")
    p
      input(type="title", name="title", placeholder="タイトル（例：一回目）")
    p
      input(type="date", name="date")
    table
      each name in group.names
        tr
          th= name
          td
            input(type="number", name="points")
    input(type="submit")
