extends ../layout

block content
  div.l-content(ng-controller="MainCtrl")
    h2.title {{group.title}}

    ul.nav
      li
        a(href="/groups/#{group.token}/edit")
          i.fa.fa-users メンバー編集 
      li
        a(href="/groups/#{group.token}/add")
          i.fa.fa-edit 結果登録

    table.sheet
      tr.head
        th Title
        th Date
        th(ng-repeat="name in group.names") {{name}}
      tr(ng-repeat="result in group.results")
        td.sheet-title {{result.title}}
        td.sheet-date {{result.date}}
        td(ng-repeat="point in result.points track by $index") {{point}}
      tr.total
        td Total
        td
        td(ng-repeat="total in totals track by $index") {{total}}
